div[class|="col"] {
	min-height:  120px;
	background-color: #fff;
	border: 1px solid #000;
}

div[class|="yt"] {
	min-height: 120px;
}

.row {
	padding: 15px;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.gray {
	background-color: gray;
}

.yt-dark {
	background-color: #BF4040;
}

div.yt-light {
	background-color: #A97F7F;
	border:  0;
}

.row > div:last-child {
	padding-right:  0;
}

h3.h3 {
	color: #fff;
	margin-top:  10px;
}